.page {
    display: none;
  }
  
  .page.active {
    display: block;
  }
  
  .status {
    width: 200px;
    height: 40px;
    margin: 20px;
    background-color: white;
    animation: FadeIn;
  }
  
  #error {
    color: red;
    text-align: center;
  }
  
  .centerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes FadeIn {
    from {
      background-color: white;
    }
    
    to {
      background-color: yellow;
    }
  }